/* Styles for the main container of the app */
.App {
  text-align: center; 
  margin-top: 50px; 
  color: gold; 
  background-color: black; 
  padding: 20px; 
}

/* Styles for the todo list container */
.todo-list {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
  margin-top: 20px; 
  text-align: center; 
}

/* Styles for individual todo items */
.todo-item {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
  border: 1px solid gold; 
  border-radius: 5px; 
  width: 300px; 
  background-color: black; 
  color: gold; 
}

/* Styles for completed todo items */
.completed {
  background-color: green; 
}

/* Styles for the add todo form */
.add-todo-form {
  display: flex; 
  justify-content: center; 
}

/* Styles for the input field in the add todo form */
.add-todo-form input[type="text"] {
  padding: 5px; 
  border: 2px solid black; 
  border-radius: 5px; 
  width: 250px; 
}

/* Styles for the button in the add todo form */
.add-todo-form button {
  padding: 5px 10px; 
  border: none; 
  background-color: black; 
  color: gold; 
  border-radius: 5px; 
  cursor: pointer; 
  margin-left: 10px; 
  border: 2px solid gold; 
}
